* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Header Section Start */
.header-container {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-content {
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0 80px;
    border-radius: 10px;
    background-color: black;
}
.header-title   {
    height: 100%;
    width: 50%;
    color: white;
}
.header-title h1    {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.header-title span  {
    color: red;
}
.header-title p {
    padding: 25px  0;
    font-family: 'Poppins', sans-serif;
}
.header-button  {
    margin-top: 25px;
    display:inline-flex;
    column-gap: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: red;
}
.header-button a  {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.header-image   {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content:end;
}
/* Header Section End  */
/* ------------------- */

/* Main section start */
.main-content   {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    width: 80%;
    display: flex;
    justify-content: center;
}
.menu-section   {
    width: 500px;
    height: 285px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: black;
}
.menu-button    {
    padding: 15px;
    margin: 30px;    
    text-align: center;
    border-radius: 10px;
    background-color: white;
}
.menu-button a  {
    text-decoration: none;
    color: black;
}
/* Main Section End  */
/* ----------------- */

/* Blog Section Start  */
.blog-section   {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}
.blog {
   margin-bottom: 20px;
}
.blog-text  {
    padding: 10px 15px 0;
}
.blog-text  button  {
    margin-bottom: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    background-color: lightgray;
}
.blog-info  {
    display: flex;
    padding-top: 10px;
}
/* Blog Section End  */
/* ----------------- */

/* Bonus Section Start */
.bonus-content  {
    text-align: center;
    display: none;
}
.bonus-button   {
    background-color: red;
    padding: 15px 30px;
    margin: 30px 0;
    border-radius: 10px;
    display: inline-block;
}
/* Bonus Section End  */
/* ----------------- */

/* Footer Section Start  */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-content{
    width: 70%;
    text-align: center;
    background-color: black;
}
.footer-text   {
    color: white;
    padding: 60px 0 50px;
}
.h-line {
    width: 100%;
    border-color: rgb(74, 73, 73);
}
.footer-info   {
    width: 100%;
    color: rgba(245, 245, 245, 0.625);
    padding: 30px 0 40px;
    display: flex;
    justify-content:space-evenly;
}
.footer-social-site    {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.footer-social-site img {
    width: 36px;
    height: 36px;
}
/* Footer Section End */
/* ------------------ */